.profile-img {
    width: 100%;
    -webkit-box-shadow: 10px 10px 24px 4px rgba(224,224,224,1);
    -moz-box-shadow: 10px 10px 24px 4px rgba(224,224,224,1);
    box-shadow: 10px 10px 24px 4px rgba(224,224,224,1);
    border-radius: 5px;
}

.profile-img:hover {
    opacity: .9;
}